<section class="container">
    <%= link_to 'Add New Recipe', new_user_recipe_path, class: "btn btn-primary" %>
    <%if @recipes.any? %>
        
        <% @recipes.each do |recipe| %>
        <div class="row border border-0 mt-4 shadow p-3 mb-5 bg-body-tertiary rounded">
            <div class="d-flex flex-column col" >
                <%= link_to recipe.name, user_recipe_path(current_user, recipe), method: :get, class: "text-decoration-none text-black fs-2 fw-bold flex-grow-1" %>
                <p><%= link_to 'Remove', "/users/#{current_user.id}/recipes/#{recipe.id}", method: :delete %> </p>
            </div>
            <div class="col-8">
                <p class="flex-grow-1"><%= recipe.description %></p>
            </div>
        </div>
        <% end %>
        
    <% else %>
        <p>There are no recipes</p>
    <% end %>
</section>